<div class="ct contacts-container">
	<div class="success-msg">
		<%= content_tag :span, Spree.t('contact_tools.contacts.success_msg') %>
		<%= link_to Spree.t('contact_tools.contacts.back_home'), spree.root_path %> 
	</div>
</div>